body{
  font-family: 'Poppins', sans-serif;;
  background: #f8f8f8;
}


h2{
  text-align: center;
  color: blue;
  margin-top: 120px;

}

h3{
  text-align: center;
  margin-top: 80px;


}

hr{

  width: 150px;
  border: 2px solid blue;
  margin-top: 80px; 

}